In [60]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [61]:
# datasets = {
#     'tim_cook' : 'datasets/csv_files/tim_cook.csv',
#     'androidcentral' : 'datasets/csv_files/androidcentral.csv',
#     'BarackObama' : 'datasets/csv_files/BarackObama.csv',
#     'BBCWORLD' : 'datasets/csv_files/BBCWORLD.csv',
#     'AndroidPolice' : 'datasets/csv_files/AndroidPolice.csv',
#     'dtptraffic' : 'datasets/csv_files/dtptraffic.csv',
#     'elonmusk' : 'datasets/csv_files/elonmusk.csv',
#     'exceleducations' : 'datasets/csv_files/exceleducations.csv',
#     'imVkohli' : 'datasets/csv_files/imVkohli.csv',
#     'IRCTCofficial' : 'datasets/csv_files/IRCTCofficial.csv',
#     'ishowspeedsui' : 'datasets/csv_files/ishowspeedsui.csv',
#     'MrBeast' : 'datasets/csv_files/MrBeast.csv',
#     'RVCJ_FB' : 'datasets/csv_files/RVCJ_FB.csv',
#     'sanasaeed17' : 'datasets/csv_files/sanasaeed17.csv',
#     'SAS' : 'datasets/csv_files/SAS.csv',
#     'Sidemen' : 'datasets/csv_files/Sidemen.csv',
#     'sundarpichai' : 'datasets/csv_files/sundarpichai.csv',
#     'theapplehub' : 'datasets/csv_files/theapplehub.csv',
#     'timesofindia' : 'datasets/csv_files/timesofindia.csv',
#     'TrollFootball' : 'datasets/csv_files/TrollFootball.csv',
#     'verge' : 'datasets/csv_files/verge.csv',
#     'YouTube' : 'datasets/csv_files/YouTube.csv'
# }
datasets = {
    'BBCWORLD' : 'datasets/csv_files/BBCWORLD.csv'
}

In [62]:
def cleaning_and_saving(UserId, location):
    
    # reading the dataframe from csv files
    df = pd.read_csv(location)
    
    # selecting necessaries columns only i.e. feature selection
    df = df[['UserId','Tweets','Likes','Comments','Retweets','Tweet_Url']]
    
    # filtering the user's tweets only
    df = df[df.UserId == f'@{UserId}']
    
    # removing null values from the datasets
    # df = df.dropna() 
    
    df = df.reset_index(drop=True)
    # converting the columns datatype into string datatype
    df.Tweets = df.Tweets.astype('str')
    df.Likes = df.Likes.astype('str')
    df.Retweets = df.Retweets.astype('str')
    df.Tweet_Url = df.Tweet_Url.astype('str')
    
    
    df.to_csv(path_or_buf= f'datasets/cleaned_data/{UserId}.csv',mode='w', index=False )

In [63]:
for UserId, location in datasets.items():
    cleaning_and_saving(UserId, location)

In [77]:
df = pd.read_csv('datasets/csv_files/BBCWORLD.csv')
df = df[['UserId','Tweets','Likes','Comments','Retweets','Tweet_Url']]
df.isna().sum()

UserId       0
Tweets       0
Likes        0
Comments     0
Retweets     0
Tweet_Url    0
dtype: int64

In [78]:
df.dropna(inplace=True)
df.reset_index(drop=True)
df.head()

,UserId,Tweets,Likes,Comments,Retweets,Tweet_Url
0,@BBCWorld,Delhi air pollution: Schools shut as air quali...,73,44,32,https://twitter.com/BBCWorld/status/1720281545...
1,@BBCWorld,Hezbollah chief Nasrallah to break silence on ...,119,73,29,https://twitter.com/BBCWorld/status/1720275379...
2,@BBCWorld,Trump's sons a study in contrasts on witness s...,102,68,15,https://twitter.com/BBCWorld/status/1720271601...
3,@BBCWorld,Apple sales dip again despite iPhone boost,94,53,22,https://twitter.com/BBCWorld/status/1720267815...
4,@BBCWorld,'Crypto King' Sam Bankman-Fried guilty of FTX ...,207,59,49,https://twitter.com/BBCWorld/status/1720262874...

In [79]:
df.Tweets = df.Tweets.astype('str')
df.Likes = df.Likes.astype('str')
df.Retweets = df.Retweets.astype('str')
df.Tweet_Url = df.Tweet_Url.astype('str')

In [82]:
df.shape

(587, 6)

In [65]:
# df.UserId.unique()

In [66]:
# df = df.query('UserId == "@tim_cook"')

In [67]:
# df = df[['UserId','Tweets','Comments','Retweets','Likes','Tweet_Url']]

In [68]:
# df.shape

In [69]:
# df.dropna(inplace=True)

In [70]:
# df.reset_index(inplace=True)

In [71]:
# df.Comments = df.Comments.astype('str')

In [72]:
# df.Tweets = df.Tweets.astype('str')

In [73]:
# df.Likes = df.Likes.astype('str')

In [74]:
# df.Retweets = df.Retweets.astype('str')

In [75]:
# df.to_csv('datasets/cleaned_data/tim_cook.csv')